version: '3'
services:
  api:
    image: "2gsilva/my-movies-api"
    ports:
      - "8080:80"
    networks:
      - webnet
  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
    networks:
      webnet:
        ipv4_address: 172.20.0.2

networks:
  webnet:
    driver: bridge
    ipam:
        config:
            - subnet: 172.20.0.0/24
              gateway: 172.20.0.1