name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
  
    - name: Setup dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.0.x'
    
    - name: Install dependencies
      run: dotnet restore
    
    - name: Build
      run: dotnet build

    - name: Publish project
      run: dotnet publish -c Release -o dist
    
    - name: Build the Docker image
      run: docker build --file "Dockerfile.dockerfile" --tag my-image-name:$(date +%s) "."
